html{
    background-color:  #C0C0C0;
    margin: 0;
    padding:0;
}

body {
    margin:0 auto;
    padding: 0;
    background-color:darkslategrey;
    overflow: scroll;
}

.div ul {
    list-style: none;
    background-color: #36b0b6;
    text-align: center;
    padding: 0;
    margin: 0;
    text-transform: uppercase; 
    border-radius: 10px;
}

.div li {
    line-height: 40px;
    height: 40px;
    font-size: 1em;
    font-family: fantasy, sans-serif;
    border-bottom: 1px solid #888;
}

.div a {
    
    text-decoration: none;
    color:lightyellow;
    display: block;
    transition: .9s background-color;
}

ul a:hover {
    background-color: #005f5f; 
    border: 1px solid black;
}
 .active a {
    background-color: #005f5f; 
    border: 1px solid black;
}

article{
    background-color:#CCD1D1;
    width: 100%;
    border-radius: 10px;
    border: solid black;
    font-size: 23px;
    padding: 0;
    text-align: justify;
   
}


article img{
            
    float: right;
    padding: 10px;
    line-height: 40px;
    height: 180px;
        }

article p{
   
    margin-left: 34px;
    margin-right: 34px;
    margin-top: 0px;
    margin-bottom: 8px;
}
h4 {
    margin-left: 34px;
    margin-right: 34px;
}

 h1 {
    color: black;
     text-align: center;
    font-size: 34px;
    text-shadow: 3px 2px gray;
    text-transform: uppercase;
    margin: 0;
    margin-top: 30px;
     
}
  
footer {
    padding-top: .5px;
    padding-bottom: .5px;
    background-color:#111;
    clear: both;
    margin-bottom:0;
    text-align: center;
    font-size: 15px;
    color: darkkhaki;
    font-family:serif;
    line-height: 0 auto;  
}

@media screen and (min-width: 600px){
    .div li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px
        font-size:1.4em;  
    }
    
    .div li{
        display: inline-block;
        margin-right:  -4px;
    }
    
}
